{% extends 'hub/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block head %}
    <style>
        /* Increase font size */
        .form-label,
        .form-control {
            font-size: 24px; /* Adjust the font size as needed */
        }
        /* Increase height */
        .form-control {
            height: 65px; /* Adjust the height as needed */
        }
        /* Increase button font size and height */
        .btn {
            font-size: 24px; /* Adjust the font size as needed */
            height: 65px; /* Adjust the height as needed */
        }

        label {
            font-size: 24px;
        }

        #rememberCheckbox {
            height: 1.5em;
            width: 1.5em;
            margin-right: 10px;
        }

    </style>
{% endblock %}
{% block content %}
    <h1>Login</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="loginForm" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               name="password"
                               value="">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox"
                               class="form-check-input"
                               id="rememberCheckbox"
                               name="remember">
                        <label class="form-check-label" for="rememberCheckbox">Remember Me?</label>
                    </div>
                    <button style="margin-top: 1em;" type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
        <button type="button" id="google" class="btn btn-dark" style="width: 22vw;">
            <img style="margin-right: 10px;
                        margin-left: 6px"
                 src="{% static 'hub/google.png' %}"
                 alt="Google Logo"
                 width="25vw"
                 height="25vw">
            Continue with Google
        </button>
    </a>
    <br>
    <!-- <a href="{% url 'index' %}"> -->
    <!--     <button type="button" class="btn btn-primary">Home</button> -->
    <!-- </a> -->
    <script>
document.getElementById("googleLoginButton").addEventListener("click", function() {
    var checkbox = document.getElementById("rememberCheckbox");

    if (checkbox.checked) {
        fetch("{% url 'remember' %}", {
            method: 'GET',
        })
        .then(response => {
            if (response.ok) {
                console.log("API request sent successfully.");
            } else {
                console.error("Error sending API request.");
            }
        })
        .catch(error => {
            console.error("Error sending API request:", error);
        });
    } else {
        fetch("{% url 'un_remember' %}", {
            method: 'GET',
        })
        .then(response => {
            if (response.ok) {
                console.log("API request sent successfully.");
            } else {
                console.error("Error sending API request.");
            }
        })
        .catch(error => {
            console.error("Error sending API request:", error);
        });

    }
});
    </script>
{% endblock %}
